:root {
    --primary-color: #071739;       /* Dark Blue */
    --secondary-color: #4b6382;     /* Light Blue */
    --accent-color-1: #A68868;      /* Light Gold */
    --accent-color-2: #E3C39D;      /* Light Beige */
    --bg-color-light: #CDD5DB;      /* Light Gray */
    --bg-color-secondary: #A4B5C4;  /* Light Blue-Gray */
    --text-light: #fff;            /* White text */
    --text-dark: #071739;           /* Dark text */
}

/* call */

/*
    background-color: var(--primary-color);
    color: var(--text-light);
*/


.registration-navbar, .registration-footer {
    background-color: var(--secondary-color);
    height: 10vh;
    padding: 5px;
}

.registration-navbar-logo, .registration-navbar-slogan, .registration-footer {
    color: var(--text-light);
}

.registration-navbar-log {
    margin: 0;
}

.registration-footer {
    position: relative;
    bottom: 0;
    width: 100%;

}



.submit-btn  {
    color: var(--text-light);
    background-color: var(--accent-color-1);
    border-radius: 10px;
    padding: 6px;
    border: none;
    font-weight: 600;
}

.submit-btn:hover {
    background-color: var(--accent-color-2);
    color: var(--text-dark);
}

/* unvisited link */
a:link  {
    color: var(--secondary-color);
    text-decoration: none;
  }
  

  /* mouse over link */
  a:hover, .link:hover {
    color: var(--text-dark);
    text-decoration-line: underline;
  }

  .link {
    text-decoration: none;
    color: var(--secondary-color);

  }